html {
	font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    min-width: 830px;
}

a {
	text-decoration: none;
	color: #838994;
	font-family: 'Roboto', sans-serif;
}

a:hover {
	color: #333333;
}

a:nth-child(1) {

}

.content {
	height: 4.5rem;
	margin: 0 auto;
	min-width: 835px;
}

.content1 {
	margin: 0 auto;
	min-width: 835px;
}

.active a {
	color: #333333;
}

.intro {
	background: url(images/first-background-copy.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	height: 46rem;
	overflow: auto;
}

div {
}

.intro h1, h3 {
	color: white;
	text-align: center;
	font-weight: 300;
	font: inherit;
}

.intro h1 {
    margin-top: 17.5rem;
    font-size: 3.125rem;
}

.intro h3 {
    margin-top: 1.25rem;
    font-size: 1.563rem;
}

.intro button {
	margin: 0 auto;
	color: white;
	text-align: center;
	margin-top: 1.5rem;
	background-color: rgb(200, 55, 14);
}

.intro button:hover {
	background-color: #d9400e;
	cursor: pointer;
}

.intro-button {
    text-shadow: none;
    border-style: none;
    border-radius: 4px;
    padding: 16px 26px;
    line-height: 1.33;
}

.cases {
	display: flex;
	flex-wrap: nowrap;
	height: 20em;
	margin-top: 3em;
}

.cases h2 {
    font-size: 2.75rem;
    margin: 1.625rem 0 3.125rem;
    font-weight: 300;
}

.cases .devices {
    /*width: 20%;*/
    display: inline-block;
    /* styles to assist with debugging */
    margin: 0 50px;
    float: left;
    height: 4em;
}

.cases img {
	height: 160px;
}

.cases .devices h3 {
	color: black;
    font-weight: 400;
    font-size: 1.563rem;
    margin: 2.5rem 0px 1.875rem;
}

.cases .content {
    /*margin-top: 7.875rem;*/
    padding: none;
    color: #1d1e21;
    text-align: center;
}

hr {
	margin-top: 10em;
}

header {
	width: 100%;
	height: 4.5rem;
	background-color: #fff;
	position: fixed;
	box-shadow: 0px 1px #aaa;
	z-index: 999;
}

header ul {
	margin: 0 auto;
	padding: 0 20%;
	float: right;
}

header li{
	display: inline-block;
	margin: 1.6rem 0 1.5rem 1.5rem;
	font-size: 1.04em;
}

header img {
	margin:  .8em 0 0 20%;
	height: 2.6rem;
}

body {
    /*background-color: LightGray;*/
}

.social {
    background-color: #fff;
    overflow: auto;
    text-align: center;
}

.social .icons > li {
    width: 2.5rem;
    height: 2.5rem;
    display: inline-block;
    margin: 1.25rem 5px;
    padding: 0.625rem 0;
    text-align: center;
}
.social .icons > li:hover {
    cursor: pointer;
}
.social .twitter {
    color: #55acee;
}
.social .facebook {
    color: #4c66a4;
}
.social .instagram {
    color: #3f729b;
}
.social .copy {
    font-size: 0.9rem;
    font-weight: 300;
    color: #838994;
}


@media (min-width: 0px) {
	header ul {
		padding: 0 10%;
	}

	header img {
		margin: .8em 0 0 10%;
	}
}

@media (min-width: 1200px) {
	header ul {
		padding: 0 18%;
	}

	header img {
		margin: .8em 0 0 14%;
	}
}

@media (min-width: 1500px) {
	header ul {
		padding: 0 20%;
	}

	header img {
		margin: .8em 0 0 16%;
	}
}