html {
	font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    min-width: 830px;
}

a {
	text-decoration: none;
	color: #838994;
	font-family: 'Roboto', sans-serif;
}

a:hover {
	color: #333333;
}

a:nth-child(1) {

}

.content {
	height: 4.5rem;
	margin: 0 auto;
	min-width: 835px;
}

.active a {
	color: #333333;
}

.intro {
	background: url(images/first-background-copy.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	height: 46rem;
	overflow: auto;
}

div {
}

.intro h1, h3 {
	color: white;
	text-align: center;
	font-weight: 300;
	font: inherit;
}

.intro h1 {
    margin-top: 17.5rem;
    font-size: 3.125rem;
}

.intro h3 {
    margin-top: 1.25rem;
    font-size: 1.563rem;
}

.intro button {
	margin: 0 auto;
	color: white;
	text-align: center;
	margin-top: 1.5rem;
	background-color: rgb(200, 55, 14);
}

.intro button:hover {
	background-color: #d9400e;
	cursor: pointer;
}

.intro-button {
    text-shadow: none;
    border-style: none;
    border-radius: 4px;
    padding: 16px 26px;
    line-height: 1.33;
}

header {
	width: 100%;
	height: 4.5rem;
	background-color: #fff;
	position: fixed;
	box-shadow: 0px 1px #aaa;
	z-index: 999;
}

header ul {
	margin: 0 auto;
	padding: 0 20%;
	float: right;
}

header li{
	display: inline-block;
	margin: 1.6rem 0 1.5rem 1.5rem;
	font-size: 1.04em;
}

header img {
	margin:  .8em 0 0 20%;
	height: 2.6rem;
}

body {
    /*background-color: LightGray;*/
}

@media (min-width: 0px) {
	header ul {
		padding: 0 10%;
	}

	header img {
		margin: .8em 0 0 10%;
	}
}

@media (min-width: 1200px) {
	header ul {
		padding: 0 18%;
	}

	header img {
		margin: .8em 0 0 14%;
	}
}

@media (min-width: 1500px) {
	header ul {
		padding: 0 20%;
	}

	header img {
		margin: .8em 0 0 16%;
	}
}